:root {
  --primary-color: #ff8aba;
  --secondary-color: #ffadcf;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.navbar-bg {
  background: var(--secondary-color);
}

.bg-pink {
  background: var(--primary-color);
}

body {
  margin: 60px auto;
  max-width: 800px;
}

h1,
h2,
h3 {
  text-align: center;
  margin: 0;
}

h1 {
  font-size: 90px;
}

h2 {
  font-size: 40px;
  padding-top: 20px;
}

h3 {
  font-size: 20px;
  color: var(--primary-color);
  opacity: 0.7;
}

p {
  background-color: var(--secondary-color);
  opacity: 0.7;
  padding: 15px;
  border-radius: 5px;
  font-size: 17px;
  line-height: 1.5;
  text-align: center;
}

.links {
  display: flex;
  margin-top: 30px;
  justify-content: center;
}

.links a {
  background: var(--primary-color);
  color: white;
  text-decoration: none;
  padding: 20px;
  border-radius: 5px;
  margin: 20px;
  box-shadow: var(--box-shadow);
}

.about-text {
  display: flex;
  margin: 20px 0;
}

.about-text p {
  margin: 10px;
}

.img-about-border {
  border-radius: 10px;
  box-shadow: 3px 3px 5px rgba(204, 204, 204, 0.8);
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 20px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}

@media (max-width: 600px) {
  h1 {
    font-size: 48px;
    line-height: 1.5;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 28px;
  }
}
